@charset "UTF-8";
/* CSS Document */

@import url("fonts.css");
@import url("normalize.css");
@import url("variables.css");


* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
/*  border: 1px solid;*/
}

html,body{
	width: 100%;
	height: 100%;
}

.centrado{
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

.resset-margin{
  display: block;
  position: static;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
}

.relative {
  display: block;
  background-color: hsla(200, 30%, 80%, 1);
  width: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
}

.fixed {
  display: block;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.static {
  display: block;
  width: 100%;
  overflow: hidden;
  position: static;
}

.logo {
  display: block;
  margin: auto;
  height: 30%;
  width: 30%;
  max-width: 250px;
  transition: all .5s;
}

.name {
  display: block;
  margin: auto;
  width: 60%;
  max-width: 550px;
  max-height: 30%;
  transition: all .5s;
}

.down-me {
  width: 10%;
  max-width: 100px;
  height: 30%;
  max-height: 100px;
	display: block;
	margin: auto;
}

.limit {
  background: white;
  display: block;
  margin: auto;
  max-width: 1400px;
}

a {
  text-decoration: none;
}

.pad {
  padding: 2%;
}

hr {
  display: block;
  margin: 30px auto;
  background: var(--logoAr);
  width: 80%;
  height: 2px;
  border: none;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
  /* vertical-align: middle; */
  align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.panes {
  display: block;
  min-height: 100vh;
  overflow: hidden;
  position: static;
}

.bg {
  background: var(--logobg);
}

.zl {
  background: var(--logoJu);
}

/* frase index */
.frase {
  margin-left: 30%;
  padding: 3%;
  background-color: var(--logoAr);
  color: var(--logobg);
  text-align: center;
}
.frase-t {
  margin: auto;
  margin-bottom: 3vh;
  max-width: 30vw;
  font-size: 3vw;
}
.frase-autor {
  font-style: italic;
  font-size: 2vw;
}
/* fin de frase index */


.indice {
  display: block;
  margin-top: 150px;
  padding: 30px;
  max-width: 70%;
  background-color: var(--logoAr);
  color: var(--logobg);
  text-align: center;
  font-size: 3vw;
}

.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 5000;
  display: block;
  width: 100%;
}

.menu-nav {
  display: block;
  min-width: 600px;
  width: 100%;
  background-color: var(--header);
  box-shadow: var(--headerShadow);
  text-align: center;
}

.menu-nav ul {
  list-style: none;
}

.menu-nav a {
  display: inline-block;
  padding: 0px 2%;
  color: var(--logobg);
  vertical-align: middle;
  text-shadow: 1px 1px 5px #000;
  line-height: 70px;
  transition: all .5s;
}

.menu-nav a:hover {
  background-color: var(--logoAr);
}

.logo-menu {
  display: block;
  height: 70px;
  /* border-style: solid; */
}

.img-indice {
  display: inline-block;
  margin: 5%;
  width: 20%;
  max-width: 300px;
}

.two-col {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  /* border-style: solid; */
}

.to-col {
  display: table-cell;
  vertical-align: top;
  width: 1%;
  /* border-style: solid; */
}

.top70 {
  /* creato per far scendere i
  margine i 70px del menu in cima */
  /* display: block; */
  margin-top: 70px;
}

.h-page {
  /* titoli interne */
  text-align: center;
  color: var(--logoAr);
}

.io-about {
  display: block;
  margin: 10% auto;
  width: 50%;
  max-width: 250px;
  /* border-style: solid; */
}

.p-about {
  color: var(--logoAr);
  text-align: justify;
  text-indent: 1em;
  line-height: 2em;
  /* border-style: solid; */
}

/* @group boton arriba */
.ir-arriba {
  z-index: 5000;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  color: var(--logobg);
  background: var(--header);
  font-size: 30px;
  cursor: pointer;
  opacity: 0.75;
  border-radius: 50%;
}
.icon-ctrl2:before {
  content: "\ec32";
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* @end boton arriba */


footer {
  /* position: relative; */
  display: block;
  min-height: 300px;
  background-color: var(--logoAr);
}

footer .social {
  position: relative;
  bottom: -200px;
  display: block;
  min-height: 100px;
  background-color: var(--logoJu);
}

/* @group Galleria */
.item-gall {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 20%;
  max-width: 300px;
  margin: 5%;
  overflow: hidden;
  border: 0.15em;
}

@media (max-width:500px) {
  .item-gall {
    display: block;
    width: 200px;
    margin: 50px auto;
  }
}

.front-item {
  color: var(--logoAr);
  text-align: center;
}

.item-gall:hover .back-item {
  display: block;
  top: 0;
}

.back-item {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20% 10px;
  background-color: var(--logoAr);
  color: var(--logobg);
  text-align: center;
  font-size: 1, 5em;
  line-height: 1, 5em;
  transition: all .4s;
}

.back-item hr {
  background: var(--logobg);
  margin: 1em auto;
  padding: 0;
}

.galleria img {
  display: inline-block;
  width: 20%;
  max-width: 200px;
}

/* @end Galleria */
